<div *ngIf="loaderservice.isloading | async" class="load_container">
    <mat-progress-bar mode="indeterminate" color=warn></mat-progress-bar>
</div>
<mat-toolbar class="body" color="primary" [ngClass]="getBodyClass()">
    <mat-icon class="icon" >menu</mat-icon>
    <span>المستشفى العسكري الأصلي للتعليم بتونس</span>
    <div>
        <mat-icon 
            routerLink="/afterloginuser/home"
            class="icon"
            matTooltip="الصفحة الرئيسية"
            matTooltipPosition="below"
            matTooltipClass="tooltipclass">
            home
        </mat-icon>
        <mat-icon 
            class="icon" 
            [ngClass]="{'message' :true}" 
            matBadge="15" 
            matBadgeColor="warn" 
            class="icon"
            routerLink='login'
            matTooltip="البريد الإلكتروني"
            matTooltipPosition="below"
            matTooltipClass="tooltipclass"> 
            mail_outline
        </mat-icon>
        <mat-icon 
            class="icon"
            matTooltip="الإشعارات"
            matTooltipPosition="below"
            matTooltipClass="tooltipclass">
            notifications
        </mat-icon>
        <mat-icon 
            routerLink="/afterloginuser/editprofile"
            class="icon" 
            matTooltip="إدخال تغييرات في الملف الشخصي"
            matTooltipPosition="below"
            matTooltipClass="tooltipclass">
            person
        </mat-icon>
        <mat-icon 
            class="icon"
            matTooltip="تسجيل الخروج"
            matTooltipPosition="below"
            matTooltipClass="tooltipclass"
            (click)="logout()">
            logout
        </mat-icon>
    </div>
</mat-toolbar>
