.tank-tab-container {
    
    height: 100px;
  }
  
  .tank-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Add margin to separate buttons from content */
    margin-bottom: 20px;
  }
  
  
  
  .mat-form-field--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .mat-form-field--inline .mat-form-field {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
  }
  
  
  .field{
    font-size: 12px ; 
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
  }