.chart{
    display: flex;
    flex-direction:column;
    border-radius:20px;
    background-color: #fff;
    margin: 1.25rem;
    box-shadow:0 .25rem .5rem #e6edef;
    padding: 20px;
    text-align: right;
    font-size: larger;
    font-weight: bolder;
}
.tranche{
   display: flex;
   justify-content: space-between;
}

.list_tranche{
    margin-top: 10%;
    font-size: 15px;
}
