*{
    float: right;
}

.body{
    background-color: #f4f7fa;
    padding: 3rem;
}
.card2{
    display: flex;
    justify-content: space-between;
}
.card{
    margin: 15px;
    border-radius: 20px;
}
.tableau{
    width: 98%;
}
.titlecontainer{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
h1{
    
    margin: 0 auto;
}
dx-button{
    margin-top:5px ;
}
h2{
    text-align: end;
}


.card3{
    display:flex;
    justify-content: space-between;
}
.autreform{
    width: 60%;
}