<div class="body"> 
    <div class="titlecontainer">
        <h1>تغيير البيانات</h1>
    </div>
    <div class="card2">
        <div class="card" style="margin-right: 200px;">
        </div>
        <div class="card">
            <app-profileinformationform></app-profileinformationform>
        </div>
    </div>
    <div class="card3">
        <div class="card formcivil">
        </div>
        <div class="card formmilitaire">
        </div>
        
    </div>
    <div class="card autreform" style="margin-right: 330px ;">
    </div>
    <div  style="position:absolute;margin-left:800px;margin-top: 1315px;" >
        <button type="button" class="btn btn-success" (click)="onSubmit()">إضافة</button>
    </div>
</div>
