.chart{
    display: flex;
    flex-direction:column;
    border-radius:20px;
    background-color: #fff;
    margin: 1.25rem;
    box-shadow:0 .25rem .5rem #e6edef;
    padding: 20px;
    text-align: right;
    font-size: larger;
    font-weight: bolder;
}
.categorie{
   display: flex;
   justify-content: space-between;
}
mat-list{
    width: 45%;
    justify-content: flex-end;
}
mat-list-item{
    justify-content: flex-end;
}
