
<div class="d-flex justify-content-between">
 
        <div class="col-md agechart">
            <app-age-chart [style]="{'width': '50%'}"></app-age-chart>
        </div>

        <div class="col-md chart">
            <h5>عدد العملة حسب الأقسام</h5>
            <app-service-chart></app-service-chart>
        </div> 
</div>

<div class="d-flex justify-content-between">
    <div class="col-md chart">
        <app-line-chart></app-line-chart>
    </div>

    <div class="col-md chart   ">
        <app-categorie-grade></app-categorie-grade>
    </div>
</div>

