<div class="container">
    <mat-icon class="close" mat-dialog-close>close</mat-icon>
    <h2>تحيين معطيات المستخدم</h2>
    <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" dir="rtl">
        <div class="row">
            <mat-form-field class="col field" appearance="outline">
              <mat-label>الإسم</mat-label>
              <input  formControlName="name" matInput #input maxlength="10" placeholder="الإسم">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="col field"  appearance="outline">
              <mat-label>اللقب</mat-label>
              <input  formControlName="last_name" matInput #input maxlength="10" placeholder="اللقب">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </div>
  
          <div class="row">
            <mat-form-field class="col field" appearance="outline">
                <mat-label for="birthday">تاريخ الميلاد</mat-label>
                <input formControlName="date_de_naissance" matInput [matDatepicker]="picker" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field class="col field"  appearance="outline">
              <mat-label>الهاتف</mat-label>
              <input  formControlName="phone" matInput #input maxlength="10" placeholder="12345678">
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
          </div>
  
          <div class="row">
            <mat-form-field class="col field" appearance="fill">
              <mat-label>الخطة</mat-label>
              <mat-select formControlName="role">
                <mat-option value="user">user</mat-option>
                <mat-option value="teminal">terminal</mat-option>
              </mat-select>
            </mat-form-field>
    
            <mat-form-field class="col field" appearance="fill">
              <mat-label>المصلحة</mat-label>
              <mat-select formControlName="service">
                <mat-option value="pediatre">pediatre</mat-option>
                <mat-option value="neuro">neuro</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <div class="row">
            <mat-form-field class="col field" appearance="fill">
              <mat-label>الجنس</mat-label>
              <mat-select formControlName="sexe">
                <mat-option value="ذكر">ذكر</mat-option>
                <mat-option value="ٱنثى">ٱنثى</mat-option>
              </mat-select>
              <mat-icon matSuffix>male</mat-icon>
            </mat-form-field>
  
            <mat-form-field class="col field" appearance="fill">
              <mat-label>الولاية</mat-label>
              <mat-select formControlName="state">
                <mat-option value="بنزرت">بنزرت</mat-option>
                <mat-option value="تونس">تونس</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <div class="row">
            <mat-form-field class="col field"  appearance="outline">
              <mat-label>مكان السكن</mat-label>
              <input  formControlName="adresse" matInput #input maxlength="10" placeholder="مكان السكن">
              <mat-icon matSuffix>house</mat-icon>
            </mat-form-field>
    
            <mat-form-field class="col field" appearance="outline">
              <mat-label>المدينة</mat-label>
              <input  formControlName="city" matInput #input maxlength="10" placeholder="المدينة">
              <mat-icon matSuffix>location_city</mat-icon>
            </mat-form-field>
          </div>
  
          <div class="row">
            <mat-form-field class="col field" appearance="outline">
              <mat-label>البريد الإلكتروني</mat-label>
              <input formControlName="email" type="email" matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
    
            
          </div> 
        <input  type="submit" name="submit" value="تحيين " class="btn btn-success">

    </form>
</div>
