table {
    width: 100%;
    text-align: right;
  }
  .mat-row:hover {
    background-color: #b4b4b433;
  }
  .mat-header-cell{
      background-color: #4B515D;
      color: #f4f7fa;
      
  }
  
  .mat-table{
    border-radius: 8px;
    overflow:hidden !important;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
    text-align: right;
  }
  :host ::ng-deep .mat-sort-header-container { 
    display: flex;  
    justify-content:flex-end;
}