<div class="long-title">
    <h3>معطيات ٱخرى</h3>
  </div>
  <div id="form-container">
    <dx-form id="form" [colCount]="3" [formData]="employee" [rtlEnabled]="true" >
      <dxi-item
        dataField="FirstName"
        editorType="dxSelectBox"
        [editorOptions]="{ disabled: true}"
        [editorOptions]="{ width: '100%' }"
        [label]="{text: 'القسم أو المصلحة'}"
      ></dxi-item>
      <dxi-item editorType="dxDateBox" [label]="{text: 'التاريخ'}"></dxi-item>
      <dxi-item
        dataField="Position"
        editorType="dxSelectBox"
        [editorOptions]="{ items: positions, searchEnabled: true, value: '' }"
        [label]="{text: 'المؤهل أو الشهادة'}"
      ></dxi-item>
      <dxi-item
        dataField=""
        editorType="dxDateBox" 
        [label]="{text: 'تاريخ الشهادة'}"
      ></dxi-item>
      <dxi-item  dataField="" [label]="{text: 'الأوسمة'}" [colSpan]="2"></dxi-item>
      <dxi-item itemType="group" colCount="2" colSpan="2" cssClass="group">
            <dxi-item  dataField="" [label]="{text: 'مكان العمل'}"></dxi-item>
            <dxi-item editorType="dxDateBox" [label]="{text: 'تاريخ الإنخراط'}"></dxi-item>
            <dxi-item editorType="dxDateBox" [label]="{text: 'تاريخ نهاية العقد'}"></dxi-item>
            <dxi-item editorType="dxDateBox" [label]="{text: 'تاريخ أع ص ع'}"></dxi-item>
            <dxi-item dataField="" [label]="{text: 'الخطة'}"></dxi-item>
            <dxi-item dataField="" editorType="dxDateBox" [label]="{text: 'تاريخ الخطة'}"></dxi-item>
    </dxi-item>
    <dxi-item itemType="group">
        <dxi-item [label]="{text: 'المنحة تتبع المستشفى'}"><mat-slide-toggle></mat-slide-toggle></dxi-item>
        <dxi-item editorType="dxSelectBox" [label]="{text: 'منحة الإنتاج تسند من'}" ></dxi-item>
    </dxi-item>
    </dx-form>
    
  </div>
  