<!-- <dx-form id="form" [formData]="personnelForm" [rtlEnabled]="true" (onFieldDataChanged)="chargerPersonnerList()"   >
    <dxi-item itemType="group" cssClass="first-group" [colCount]="2" >
      <dxi-item>
        <div class="form-avatar"></div>
      </dxi-item> 
      
      <dxi-item
        dataField="prenom"
        [editorOptions]="{ disabled: true}"
        [editorOptions]="{ width: '100%' }"
        [label]="{text: 'الإسم'}"
      > </dxi-item>
  

      <dxi-item
      dataField="nom"
      [editorOptions]="{ disabled: true}"
      [editorOptions]="{ width: '100%' }"
      [label]="{text: 'اللقب'}"
      ></dxi-item>

      <dxi-item 
      dataField="prenomf"
      [editorOptions]="{ disabled: true}"
      [editorOptions]="{ width: '100%' }"
      [label]="{text: 'Prenom'}"
      ></dxi-item>
      <dxi-item
      dataField="nomf"
      [editorOptions]="{ disabled: true}"
      [editorOptions]="{ width: '100%' }"
      [label]="{text: 'Nom'}"
      ></dxi-item>
      <dxi-item
     
      dataField="cin"
      [editorOptions]="{ disabled: true}"
      [editorOptions]="{ width: '100%' }"
      [label]="{text: 'ر ب ت و'}"
      >  
      <dxi-validation-rule
      type="required"
      message="CIM is required"
    ></dxi-validation-rule></dxi-item>

      <dxi-item
          dataField="dtecin"
          editorType="dxDateBox"
          [editorOptions]="{ width: '100%' }"
          [label]="{text: 'تاريخ  ب ت و'}"
        ></dxi-item>

    </dxi-item> 
    <dxi-item itemType="group" cssClass="second-group" [colCount]="1">
      <dxi-item itemType="group">
        <dxi-item
        dataField="iu"
        [editorOptions]="{ disabled: true}"
        [editorOptions]="{ width: '100%' }"
        [label]="{text: 'المعرف الوحيد'}"
      ></dxi-item>

        <dxi-item
        dataField="grade"
        [editorOptions]="{ disabled: true}"
        [editorOptions]="{ width: '100%' }"
        [label]="{text: 'الرتبة'}"
      ></dxi-item>

        <dxi-item
       
        dataField="date_naissance"
        editorType="dxDateBox"
        
        [editorOptions]="{ width: '100%' }"
        [label]="{text: 'تاريخ الميلاد'}"
      ></dxi-item>

        <dxi-item
          dataField="lieu_naiss"
          [editorOptions]="{ disabled: true}"
          [editorOptions]="{ width: '100%' }"
          [label]="{text: 'مكان الولادة'}"
        ></dxi-item>

      </dxi-item>
     
    </dxi-item>
    
  </dx-form> -->
<div (change)="chargerPersonnerList()" class="mat-form-field--inline" dir="rtl">
  <!-- <label style="text-align:right;">اللقب: </label> -->
  <mat-form-field appearance="outline"   style="font-size: 12px ; width: 15vw;">
    <mat-label style="color: black;  ">اللقب</mat-label>
    <input matInput placeholder="اللقب"   [(ngModel)]="personnelForm.nom">
    <mat-icon matSuffix>person</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
  <!-- <label style="text-align:left;">الإسم: </label> -->
  <mat-form-field appearance="outline"   style="font-size: 12px ;width: 15vw;" >
    <mat-label style="color: black;  ">الإسم</mat-label>
    <input matInput placeholder="الإسم"   [(ngModel)]="personnelForm.prenom">
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>

</div>

<div (change)="chargerPersonnerList()" class="mat-form-field--inline" dir="rtl">
  
  <mat-form-field appearance="outline"   style="font-size: 12px ; width: 15vw;">
    <mat-label style="color: black; ">Prenom</mat-label>
    <input matInput placeholder="Prenom"   [(ngModel)]="personnelForm.prenomf">
    <mat-icon matSuffix>home</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>

  <mat-form-field appearance="outline"   style="font-size: 12px ;width: 15vw;" >
    <mat-label style="color: black;  ">Nom</mat-label>
    <input matInput placeholder="Nom"   [(ngModel)]="personnelForm.nomf">
    <mat-icon matSuffix>person</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>

</div>

<div (change)="chargerPersonnerList()" class="mat-form-field--inline" dir="rtl">



  <mat-form-field  appearance="outline"   style="font-size: 12px ; width: 15vw;">
    <mat-label style="color: black; ">تاريخ  ب ت و</mat-label>
    <input matInput [matDatepicker]="picker"  [(ngModel)]="personnelForm.dtecin">
    <!-- <mat-hint>YYYY/MM/DD</mat-hint> -->
    <mat-datepicker-toggle [for]="picker" matSuffix ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
  
  <mat-form-field appearance="outline"   style="font-size: 12px ; width: 15vw;">
    <mat-label style="color: black; ">ر ب ت و</mat-label>
    <input matInput placeholder="ر ب ت و"   (change)="a()"    [(ngModel)]="personnelForm.cin">
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>

</div>

<div (change)="chargerPersonnerList()" class="mat-form-field--inline" dir="rtl">
  <!-- <label style="text-align:right;">اللقب: </label> -->
  <mat-form-field appearance="outline"   style="font-size: 12px ; width: 15vw;">
    <mat-label style="color: black;  ">المعرف الوحيد</mat-label>
    <input matInput placeholder="المعرف الوحيد"   [(ngModel)]="personnelForm.iu">
    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>
  <mat-form-field appearance="outline"   style="font-size: 12px ; width: 15vw;" >
    <mat-label style="color: black; ">الرتبة</mat-label>
    <input matInput placeholder="الرتبة" (click)="openDialog()"  [(ngModel)]="personnelForm.grade">
    <mat-icon matSuffix>grade</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>

</div>

<div (change)="chargerPersonnerList()" class="mat-form-field--inline" dir="rtl">



  <mat-form-field  appearance="outline"   style="font-size: 12px ; width: 15vw;">
    <mat-label style="color: black; ">تاريخ الولادة</mat-label>
    <input matInput [matDatepicker]="picker1"  [(ngModel)]="personnelForm.date_naissance">
    <!-- <mat-hint>YYYY/MM/DD</mat-hint> -->
    <mat-datepicker-toggle [for]="picker1" matSuffix ></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  
  
  <mat-form-field appearance="outline"   style="font-size: 12px ; width: 15vw;">
    <mat-label style="color: black; ">مكان الولادة</mat-label>
    <input matInput placeholder="مكان الولادة"    [(ngModel)]="personnelForm.lieu_naiss">
    <mat-icon matSuffix>location_on</mat-icon>
    <!-- <mat-hint>Hint</mat-hint> -->
  </mat-form-field>

</div>




    















  