<!DOCTYPE html>
<html lang="en">
<body>

    <main>
        <section class="vh-100 d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center d-flex align-items-center justify-content-center">
                        <div>
                            <img class="img-fluid w-75" src="../../assets/images/404.svg" alt="404 not found">
                            <h1 class="mt-5">صفحة غير <span class="fw-bolder text-primary">موجودة</span></h1>
                            <p class="lead my-4"> . يبدو أنك اتبعت رابطًا سيئًا! إذا كنت تعتقد أن هذه مشكلة معنا ، فيرجى إخبارنا </p>
                            <a routerLink="/login" class="btn btn-gray-800 d-inline-flex align-items-center justify-content-center mb-4">
                                <mat-icon>arrow_back</mat-icon>عودة إلى صفحة تسجيل الدخول للمنظومة
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>
