<!DOCTYPE html>
<html lang="en">
<body>

    <main>
        <section class="vh-100 d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center d-flex align-items-center justify-content-center">
                        <div>
                            <img class="img-fluid w-75" src="../../assets/images/404.svg" alt="404 not found">
                            <h1 class="mt-5">Page not<span class="fw-bolder text-primary"> Found</span></h1>
                            <p class="lead my-4">Looks like you followed a bad link! If you think this is an issue with us, please let us know .</p>
                            <a routerLink="/login" class="btn btn-gray-800 d-inline-flex align-items-center justify-content-center mb-4">
                                <mat-icon>arrow_back</mat-icon>Return to the system login page
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>
