<div class="pagesbody">
    <div class="titlecontainer">
        <h1>Personnel account </h1>
    </div>
   
      
<main class="content">
            <div class="row">
                <div class="col-12 col-xl-8">
                    <div class="card card-body border-0 shadow mb-4">
                        <h2 class="h5 mb-4">General Informations</h2>
                        <form [formGroup]="angForm" (ngSubmit)="update(angForm)" >
                            <div class="row">
                                <div class="col">
                                    <div >
                                        <label for="last_name">last_name</label>
                                        <mat-form-field class="col field"  appearance="outline" >
                                            <mat-label>last_name</mat-label>
                                            <input  formControlName="last_name" matInput #input  placeholder="last_name">
                                            <mat-icon matSuffix>person</mat-icon>
                                        </mat-form-field>                                   
                                    </div>
                                </div>
                                <div class="col">
                                    <div >
                                        <label for="name">First name</label>
                                        <mat-form-field class="col field"  appearance="outline" >
                                            <mat-label>First name</mat-label>
                                            <input id="name" formControlName="name" matInput #input placeholder="First name">
                                            <mat-icon matSuffix>person</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div >
                                        <label for="birthday">Birthday</label>
                                        <mat-form-field class="col field" appearance="outline" >
                                            <input formControlName="date_de_naissance" matInput [matDatepicker]="picker" required>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col">
                                    <div >
                                        <label for="gender">Gender</label>
                                        <mat-form-field class="col field" appearance="outline" >
                                            <mat-label>Gender</mat-label>
                                            <mat-select formControlName="sexe">
                                              <mat-option value="male">male</mat-option>
                                              <mat-option value="female">female</mat-option>
                                            </mat-select>
                                            <mat-icon matSuffix>male</mat-icon>
                                          </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group" >
                                        <label for="email">Email</label>
                                        <mat-form-field class="col field" appearance="outline" >
                                            <mat-label>Email</mat-label>
                                            <input formControlName="email" type="email" matInput placeholder="pat@example.com" required>
                                            <mat-icon matSuffix>email</mat-icon>
                                          </mat-form-field>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group" >
                                        <label for="grade">Grade</label>
                                        <mat-form-field class="col field"  appearance="outline" >
                                            <mat-label>Grade</mat-label>
                                            <input  formControlName="grade" matInput #input  placeholder="Grade" (click)="openDialog()">
                                            <mat-icon matSuffix>grade</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group" >
                                        <label for="phone">Phone number</label>
                                        <mat-form-field class="col field"  appearance="outline" >
                                            <mat-label>Phone number</mat-label>
                                            <input  formControlName="phone" matInput #input  placeholder="Phone number">
                                            <mat-icon matSuffix>phone</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                
                            </div>
                            <h2 class="h5 my-4">Adresse</h2>
                            <div class="row">
                                
                                <div class="col">
                                    <div class="form-group" >
                                        <label for="address">Specific informations</label>
                                        <mat-form-field class="col field"  appearance="outline" >
                                            <mat-label>Specific informations</mat-label>
                                            <input  formControlName="adresse" matInput #input  placeholder="Specific informations">
                                            <mat-icon matSuffix>house</mat-icon>
                                        </mat-form-field>                  
                                    </div>
                                </div>
                                <div class="col">
                                    
                                </div>
                                
                            </div>
                            <div class="row">
                                
                                <div class="col">
                                    <div class="form-group" >
                                        <label for="city">City</label>
                                        <mat-form-field class="col field"  appearance="outline" >
                                            <mat-label>City</mat-label>
                                            <input  formControlName="city" matInput #input maxlength="10" placeholder="City">
                                            <mat-icon matSuffix>location_city</mat-icon>
                                        </mat-form-field>       
                                    </div>
                                </div>
                                <div class="col" >
                                    <label for="state">the state</label>
                                    <mat-form-field class="col field" appearance="outline" >
                                        <mat-label>the state</mat-label>
                                        <mat-select formControlName="state">
                                          <mat-option value="Bizerte">Bizerte</mat-option>
                                          <mat-option value="Tunis">Tunis</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-sm mt-3">
                                    <button mat-raised-button color="warn" type="reset">
                                        <mat-icon>delete_sweep</mat-icon>
                                        Cancel
                                    </button>
                                </div>
                                <div class="col-sm-2 mt-3">
                                    <button mat-raised-button color="primary" type="submit"  >
                                        <mat-icon>edit</mat-icon>
                                        Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
                <div class="col-12 col-xl-4">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="card shadow border-0 text-center p-0">
                                <div class="upper"> </div>
                                <div class="card-body pb-5">
                                    <img src="../../assets/images/{{img}}" class="rounded-circle z-depth-2" alt="Neil Portrait" style="height: 100px;width: 100px;margin-top: -40px;">
                                    <h4 class="h3">{{grade}}</h4>
                                    <h5 class="fw-normal">Administration</h5>
                                    <p class="text-gray mb-4">Hergla Fish Farm</p>
                                    
                                </div>
                             </div>
                        </div>
                        <div class="col-12">
                            <div class="card card-body border-0 shadow mb-4">
                                <h2 class="h5 mb-4">Change Profile Photo</h2>
                                <div class="d-flex align-items-center">
                                   
                                    <div class="file-field">
                                        <div class="d-flex justify-content-xl-center ms-xl-3">
                                            <div class="d-flex">
                                                <mat-icon> insert_photo</mat-icon>
                                                <input type="file" (change)="onFileChange($event)">
                                            </div>
                                        </div>
                                     </div>                                        
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="card card-body border-0 shadow mb-4">
                                <h2 class="h5 mb-4">Change password</h2>
                                <div class="d-flex align-items-center">
                                   
                                    <div class="file-field">
                                        <div class="d-flex justify-content-xl-center ms-xl-3">
                                            <div class="d-flex">
                                                <form [formGroup]="passForm" (ngSubmit)="verify_oldpass()">
                                                    <input  hidden matInput  formControlName="email">
                                                    <mat-form-field class="col" appearance="fill">
                                                        <mat-label>Enter your old password</mat-label>
                                                        <input formControlName="password" matInput [type]="hideoldpass ? 'password' : 'text'" required>
                                                        <button mat-icon-button matSuffix (click)="hideoldpass = !hideoldpass" >
                                                        <mat-icon>{{hideoldpass ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                        </button>
                                                    </mat-form-field>
                                                  
                                                    <mat-form-field class="col" appearance="fill">
                                                        <mat-label>Enter the new password</mat-label>
                                                        <input formControlName="newpass" matInput [type]="hidenewpass ? 'password' : 'text'" required>
                                                        <button mat-icon-button matSuffix (click)="hidenewpass = !hidenewpass" >
                                                        <mat-icon>{{hidenewpass ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                        </button>
                                                    </mat-form-field>

                                                    <mat-form-field class="col" appearance="fill">
                                                        <mat-label>Confirm your new password </mat-label>
                                                        <input formControlName="confirmpass" matInput [type]="hideconfirmpass ? 'password' : 'text'" required>
                                                        <button mat-icon-button matSuffix (click)="hideconfirmpass = !hideconfirmpass" >
                                                        <mat-icon>{{hideconfirmpass ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                        </button>
                                                    </mat-form-field>
                                                    <br>
                                                    <button 
                                                    mat-raised-button 
                                                    color="primary" 
                                                    type="submit"
                                                    [disabled]="!passForm.valid">تأكيد</button>                                                  
                                                </form>
                                            </div>
                                        </div>
                                     </div>                                        
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
           
        </main>
   </div>

