<div class="body">
    <div class="titlecontainer">
        <h1>عرض البيانات والنتائج</h1>
    </div>
    <div class="card2">
        <div class="card">
            <form2></form2>
        </div>
        <div class="card ">
            <app-profileinformationform></app-profileinformationform>
        </div>
    </div>
    <div class="card3">
        <div class="card formcivil">
            <formcivil></formcivil>
        </div>
        <div class="card formmilitaire">
            <formmilitaire></formmilitaire>
        </div>
        
    </div>
    <div class="card autreform">
        <autreform></autreform>
    </div>
</div>
