::ng-deep #form-container {
    margin: 10px 10px 30px;
    display: flex;
    justify-content: flex-end;
  }
  
  ::ng-deep .long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }

  .mat-form-field--inline .mat-form-field:nth-child(1) {
    margin-left: 50px;
  }

  .mat-form-field--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .mat-form-field--inline .mat-form-field {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }