<div *ngIf="loaderservice.isloading | async" class="load_container">
    <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>
<mat-toolbar class="body" color="primary" [ngClass]="getBodyClass()">
    
    <span><img class="hopital" src="../../assets/images/imageedit_2_9474531117.png" alt="">Hergla Fish Farming<img class="hopital" src="../../assets/images/imageedit_2_9474531117_copy.png" alt=""></span>
    <div>
        <mat-icon 
            routerLink="/afterlogin/home"
            class="icon"
            matTooltip="Home"
            matTooltipPosition="below"
            matTooltipClass="tooltipclass">
            home
        </mat-icon>
        
        <mat-icon 
            routerLink="/afterlogin/editprofile"
            class="icon" 
            matTooltip="Account"
            matTooltipPosition="below"
            matTooltipClass="tooltipclass">
            person
        </mat-icon>
        <mat-icon 
            class="icon"
            matTooltip="Logout"
            matTooltipPosition="below"
            matTooltipClass="tooltipclass"
            (click)="logout()">
            logout
        </mat-icon>
    </div>
</mat-toolbar>
