<mat-toolbar class="body" color="primary" [ngClass]="getBodyClass()">
    <mat-icon class="icon" >menu</mat-icon>
    <span>المستشفى العسكري الأصلي للتعليم بتونس</span>
    <div>
        <mat-icon class="icon" [ngClass]="{'message' :true}" matBadge="15" matBadgeColor="warn" > mail_outline</mat-icon>
        <mat-icon class="icon">notifications</mat-icon>
        <mat-icon class="icon">person</mat-icon>
        <mat-icon class="icon" routerLink='login'>logout</mat-icon>
    </div>
</mat-toolbar>
