<div class="body"> 
    <div class="titlecontainer">
        <h1>Treatment and vaccine <i class="fas fa-syringe"></i></h1>
    </div>
    <div class="container">
      <div class="card">
        <div class="title">
        <h5>Data about the treatment </h5> 
        <img src="../../assets/images/treatment_png.png" alt="">
      </div>
        <hr>
        <div  class="mat-form-field--inline"  >
          <mat-form-field appearance="outline"   class="field">
            <mat-label style="color: black; ">Room</mat-label>
            <mat-select >
                <mat-option >room.name </mat-option>
            </mat-select>
            </mat-form-field>

          <mat-form-field appearance="outline"   class="field">
          <mat-label style="color: black; ">Tank</mat-label>
          <mat-select >
              <mat-option >tank.name </mat-option>
          </mat-select>
          </mat-form-field>
        </div>
        
        <div  class="mat-form-field--inline"  >
          
          <mat-form-field appearance="outline"   class="field">
            <mat-label style="color: black; ">Treatment name</mat-label>
            <input matInput placeholder="name"    >
          </mat-form-field>

          <mat-form-field appearance="outline"   class="field">
            <mat-label style="color: black; ">dose</mat-label>
            <input matInput placeholder="dose"     >
            <mat-icon matSuffix>grain</mat-icon>
          </mat-form-field>
        </div>

        <div  class="mat-form-field--inline"  >
          
          <mat-form-field appearance="outline"   class="field">
            <mat-label style="color: black; ">posologie</mat-label>
            <input matInput placeholder="posologie"    >
            <mat-icon matSuffix>colorize</mat-icon> 
          </mat-form-field>

          <mat-form-field appearance="outline"   class="field">
            <mat-label style="color: black; ">biomasse</mat-label>
            <input matInput placeholder="biomasse"     >
            <mat-icon matSuffix>balance</mat-icon>
          </mat-form-field>
        </div>

        <div  class="mat-form-field--inline"  >
          <mat-form-field appearance="outline"   class="field">
            <mat-label style="color: black; ">Quantité</mat-label>
            <input matInput placeholder="Quantité"   >
            <mat-icon matSuffix>credit_card</mat-icon>
          </mat-form-field>
        </div>

        <div  class="mat-form-field--inline"  >
          <mat-form-field appearance="outline"   class="field">
            <mat-label style="color: black; ">Date</mat-label>
            <input matInput   type="date" >
          </mat-form-field>
        </div>
        
        <button mat-raised-button color="primary">Confirm</button>
      </div>
      <div class="ta card" >
        <div class="title">
        <h5>Data about the vaccine</h5>
        <img src="../../assets/images/vaccin_png.png" alt="">
      </div>
        <hr>
        <div  class="mat-form-field--inline"  >
          <mat-form-field appearance="outline"   class="field">
            <mat-label style="color: black; ">Room</mat-label>
            <mat-select >
                <mat-option >room.name </mat-option>
            </mat-select>
            </mat-form-field>

          <mat-form-field appearance="outline"   class="field">
          <mat-label style="color: black; ">Tank</mat-label>
          <mat-select >
              <mat-option >tank.name </mat-option>
          </mat-select>
          </mat-form-field>
        </div>
        
        <div  class="mat-form-field--inline"  >
          
          <mat-form-field appearance="outline"   class="field">
            <mat-label style="color: black; ">Vaccine name</mat-label>
            <input matInput placeholder="name"    >
          </mat-form-field>

          <mat-form-field appearance="outline"   class="field">
            <mat-label style="color: black; ">dose</mat-label>
            <input matInput placeholder="dose"     >
            <mat-icon matSuffix>grain</mat-icon>
          </mat-form-field>
        </div>

        <div  class="mat-form-field--inline"  >
          
          <mat-form-field appearance="outline"   class="field">
            <mat-label style="color: black; ">posologie</mat-label>
            <input matInput placeholder="posologie"    >
            <mat-icon matSuffix>colorize</mat-icon> 
          </mat-form-field>

          <mat-form-field appearance="outline"   class="field">
            <mat-label style="color: black; ">biomasse</mat-label>
            <input matInput placeholder="biomasse"     >
            <mat-icon matSuffix>balance</mat-icon>
          </mat-form-field>
        </div>

        <div  class="mat-form-field--inline"  >
          <mat-form-field appearance="outline"   class="field">
            <mat-label style="color: black; ">Quantité</mat-label>
            <input matInput placeholder="Quantité"   >
            <mat-icon matSuffix>credit_card</mat-icon>
          </mat-form-field>
        </div>

        <div  class="mat-form-field--inline"  >
          <mat-form-field appearance="outline"   class="field">
            <mat-label style="color: black; ">Date</mat-label>
            <input matInput   type="date" >
          </mat-form-field>
        </div>
        
        <button mat-raised-button color="primary">Confirm</button>
      
      </div>
      
  </div>
  <div class="cardd">
    <div class="card2">
      <h4>Historique des traitements</h4>
      <mat-form-field appearance="standard"  style="width: 100%;" >
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input  >
        <mat-icon matPrefix style="margin-left: 10px">search</mat-icon>
      </mat-form-field>
      <div class="mat-elevation-z8" >
        <table mat-table [dataSource]="dataSource" matSort   >
      
          <ng-container matColumnDef="Room" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Room </th>
            <td mat-cell *matCellDef="let row" > {{row.Room}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Tank">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > Tank </th>
            <td mat-cell *matCellDef="let row">{{row.Tank}}  </td>
          </ng-container>
      
          <ng-container matColumnDef="Treatment name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Treatment name</th>
            <td mat-cell *matCellDef="let row"> {{row.Treatment_name}} </td>
          </ng-container>
      
          <ng-container matColumnDef="Posologie">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Posologie</th>
            <td mat-cell *matCellDef="let row"> {{row.Posologie}} </td>
          </ng-container>

          <ng-container matColumnDef="Dose">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dose</th>
            <td mat-cell *matCellDef="let row"> {{row.Dose}} </td>
          </ng-container>

          <ng-container matColumnDef="Biomasse">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Biomasse</th>
            <td mat-cell *matCellDef="let row"> {{row.Biomasse}} </td>
          </ng-container>

          <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity</th>
            <td mat-cell *matCellDef="let row"> {{row.Quantity}} </td>
          </ng-container>

          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
            <td mat-cell *matCellDef="let row"> {{row.Date}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
      
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[3, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>

  </div>
</div>