<div class="dialog">
  <div class="header" [align]="'end'">
    <h2 mat-dialog-title>إعداد جدول الترقية السنوي</h2>
    <button class="close" mat-icon-button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="content" [align]="'end'" >  
        <p [routerLink]="['/coupens',{
              outlets:{
                  'outlet2':['upgrademilitaire']
              }
          }]" mat-dialog-close>
  إعداد الترقية الخاصة بالعسكريين<mat-icon>arrow_left</mat-icon></p> 
          
        <p [routerLink]="['/coupens',{
          outlets:{
              'outlet2':['upgradecivil']
          }
      }]" mat-dialog-close>
   إعداد الترقية الخاصة بالمدنيين<mat-icon>arrow_left</mat-icon></p> 
  </div>
  <div class="actions" mat-dialog-actions [align]="'start'">
    <mat-dialog-actions>
      <button mat-raised-button  mat-dialog-close color="primary" [mat-dialog-close]="true">إغلاق</button>
    </mat-dialog-actions>
  </div>
</div>