.dialog{
    position: relative;
}
h2{
    
    margin: 0 auto;
    font-size: 22px;
    font-weight: bold;
}
p{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.header {
    display: flex;
    justify-content: space-between;
}
.close{
    margin-right: -15px;
    margin-top: -15px;
}
.content{
    margin-top: 70px;
}
.actions{
    position: absolute;
    bottom: 0;
}
