<div class="dialog_body">
  <h2 mat-dialog-title>Tanks Management</h2>

  <mat-tab-group>
    <mat-tab label="Add_Tanks">
      <div class="Add_Tanks">
        <h2 mat-dialog-title>
          <img src="../../assets/images/add.gif" style="width: 40px; height: 40px; margin-top: -5px;" alt="add"> Add Tank
        </h2>
  
        <mat-dialog-content class="mat-typography">
          <form [formGroup]="tankForm" (ngSubmit)="onSubmit()" class="tank-form">
            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Tank Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="tankForm.get('name').hasError('required')">
                  Tank Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Room</mat-label>
                <mat-select formControlName="room" required>
                  <mat-option *ngFor="let room of rooms" [value]="room.id">{{ room.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="tankForm.get('room').hasError('required')">
                  Room is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type" required>
                  <mat-option value="seabream">Seabream</mat-option>
                  <mat-option value="seabass">Seabass</mat-option>
                </mat-select>
                <mat-error *ngIf="tankForm.get('type').hasError('required')">
                  Type is <strong>required</strong>
                </mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Number of Fish</mat-label>
                <input matInput formControlName="number_of_fish" required type="number">
                <mat-error *ngIf="tankForm.get('number_of_fish').hasError('required')">
                  Number of Fish is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Capacity</mat-label>
                <input matInput formControlName="capacity" required type="number">
                <mat-error *ngIf="tankForm.get('capacity').hasError('required')">
                  Capacity is <strong>required</strong>
                </mat-error>
              </mat-form-field>
  
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Biomass</mat-label>
                <input matInput formControlName="biomass" required type="number">
                <mat-error *ngIf="tankForm.get('biomass').hasError('required')">
                  Biomass is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
  
            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Average Weight</mat-label>
                <input matInput formControlName="average_weight" required type="number">
                <mat-error *ngIf="tankForm.get('average_weight').hasError('required')">
                  Average Weight is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </mat-dialog-content>
  
        <mat-dialog-actions align="end">
          <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon> Cancel</button>
          <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"><mat-icon>add</mat-icon> Add Tank</button>
        </mat-dialog-actions>
      </div>
    </mat-tab>
  
    <mat-tab label="Delete Tanks">
      <div class="delete_tanks mat-elevation-z8 ">
        <h2 mat-dialog-title class="delete_tanks_title">
          <img src="../../assets/images/delete.gif" style="width: 40px;height: 40px;margin-top: -5px;" alt="delete"> 
          Delete Tank
        </h2>
  
        <mat-form-field class="search">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8 ">
          <table mat-table [dataSource]="tanks" matSort class="mat-elevation-z8">
            <!-- Tank Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tanks </th>
              <td mat-cell *matCellDef="let tank"> {{ tank.name }} </td>
            </ng-container>
    
            <!-- Room Column -->
            <ng-container matColumnDef="room">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Rooms </th>
              <td mat-cell *matCellDef="let tank"> {{ tank.room.name }} </td>
            </ng-container>
    
            <!-- Type Column -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
              <td mat-cell *matCellDef="let tank"> {{ tank.type }} </td>
            </ng-container>
    
            <!-- Number of Fish Column -->
            <ng-container matColumnDef="number_of_fish">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Fish </th>
              <td mat-cell *matCellDef="let tank"> {{ tank.number_of_fish }} </td>
            </ng-container>
    
            <!-- Capacity Column -->
            <ng-container matColumnDef="capacity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacity </th>
              <td mat-cell *matCellDef="let tank"> {{ tank.capacity }} </td>
            </ng-container>
    
            <!-- Biomass Column -->
            <ng-container matColumnDef="biomass">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Biomass </th>
              <td mat-cell *matCellDef="let tank"> {{ tank.biomass }} </td>
            </ng-container>
    
            <!-- Average Weight Column -->
            <ng-container matColumnDef="average_weight">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Average Weight </th>
              <td mat-cell *matCellDef="let tank"> {{ tank.average_weight }} </td>
            </ng-container>
    
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let tank">
                <button mat-button color="warn" (click)="deleteTank(tank.id)"><mat-icon>delete</mat-icon></button>
              </td>
            </ng-container>
    
            <!-- Table Rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
