
  <div class="sidebar" [ngClass]="{close : !collapsed}">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()"><i class="fa fa-hospital-o"></i></button>
        <span class="logo_name">إدارةالأفراد</span>
      
    </div>
    <ul class="nav-links">
      <li routerLink="/afterlogin/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
        <a class="link">
          <i class='icon fal fa-home' ></i>
          <span class="link_name">الصفحة الرئيسية</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" routerLink="/afterlogin/home">الصفحة الرئيسية</a></li>
        </ul>
      </li>
      <li [ngClass]="{showMenu : showsubemployee}">
        <div class="iocn-link">
          <a routerLink="/afterlogin/dashboard">
            <i class='fal fa-users'></i>
            <span class="link_name">متابعة الأفراد</span>
          </a>
          <i class='fal fa-chevron-down arrow' (click)="showemployee()" ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" routerLink="/afterlogin/dashboard">متابعة الأفراد</a></li>
          <li><a routerLink="/afterlogin/modification"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">إضافة موظف</a></li>
          <li><a routerLink="/afterlogin/modification"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">تحيين بيانات موظف</a></li>
          <li><a routerLink="/afterlogin/modification"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">نقل موظف للأرشيف</a></li>
        </ul>
      </li>
      <li   [ngClass]="{showMenu : showsubarchive}"
            routerLink="/afterlogin/products"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
        <div class="iocn-link">
          <a>
            <i class='fal fa-box-open'></i>
            <span class="link_name">متابعة الأرشيف</span>
          </a>
          <i class='fal fa-chevron-down arrow' (click)="showarchive()" ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" routerLink="/afterlogin/products">متابعة الأرشيف</a></li>
          <li><a>Web Design</a></li>
          <li><a >Login Form</a></li>
          <li><a >Card Design</a></li>
        </ul>
      </li>
      <li routerLink="/afterlogin/statistics"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
        <a>
          <i class='fal fa-chart-bar' ></i>
          <span class="link_name">متابعة الإحصائيات</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" routerLink="/afterlogin/statistics">متابعة الإحصائيات</a></li>
        </ul>
      </li>
      
      <li   [ngClass]="{showMenu : showsubusually}"
            routerLink="/afterlogin/coupens" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
        <div class="iocn-link">
          <a >
            <i class='fal fa-calendar' ></i>
            <span class="link_name">متابعة الأعمال الدورية</span>
          </a>
          <i class='fal fa-chevron-down arrow' (click)="showusualywork()" ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" routerLink="/afterlogin/coupens">متابعة الأعمال الدورية</a></li>
          <li><a routerLink="/afterlogin/coupens">إعداد جدول الوسام العسكري</a></li>
          <li><a routerLink="/afterlogin/coupens">إعداد جدول الترقية السنوي</a></li>
          <li><a routerLink="/afterlogin/coupens">إعداد و متابعة الأعداد السنوية</a></li>
          <li><a routerLink="/afterlogin/coupens">متابعة منحة الإنتاج</a></li>
        </ul>
      </li>
      <li routerLink="/afterlogin/pages"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" >
        <a >
          <i class='fal fa-file' ></i>
          <span class="link_name">متابعة الرخص و مختلف الوضعيات</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" routerLink="/afterlogin/pages">متابعة الرخص و مختلف الوضعيات</a></li>
        </ul>
      </li>
      
      <li [ngClass]="{showMenu : showsubsettings}" >
        <div class="iocn-link">
          <a >
            <i class='fal fa-cog' ></i>
            <span class="link_name">الإعدادات</span>
          </a>
          <i class='fal fa-chevron-down arrow' (click)="showsettings()" ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" >الإعدادات</a></li>
          <li><a routerLink="/afterlogin/settings"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">متابعة المستعملين</a></li>
          <li><a routerLink="/afterlogin/direction"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">تسير</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details" routerLink="/afterlogin/editprofile">
      <div class="profile-content">
        <img src="../../assets/images/doctor.jpg" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">Prem Shahi</div>
        <div class="job">Admin</div>
      </div>
      <i class='fal fa-sign-out' ></i>
    </div>
  </li>
</ul>
</div>
 