
  <div class="sidebar" [ngClass]="{close : !collapsed}">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()"><i class="fas fa-anchor"></i></button>
        <span class="logo_name">Fish Farming</span>
      
    </div>
    <ul class="nav-links">
      
      <li   [ngClass]="{showMenu : showsubarchive}"
            routerLink="/afterlogin/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
        
          <a>
            <i class='fal fa-home'></i>
            <span class="link_name">Nursery</span>
          </a>
          
        <ul class="sub-menu blank">
          <li><a class="link_name" routerLink="/afterlogin/products">Nursery Department </a></li>
        </ul>
      </li>

      <li   [ngClass]="{showMenu : showsubarchive}"
            routerLink="/afterlogin/water_quality"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
        
          <a>
            <i class="fal fa-water"></i>
            <span class="link_name">Water Quality</span>
          </a>
          
        <ul class="sub-menu blank">
          <li><a class="link_name" routerLink="/afterlogin/products">Water Quality </a></li>
        </ul>
      </li>

      <li   [ngClass]="{showMenu : showsubarchive}"
            routerLink="/afterlogin/fish_growth"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
        
          <a>
            <i class="fas fa-arrow-trend-up"></i>
            <span class="link_name">Fish Growth</span>
          </a>
          
        <ul class="sub-menu blank">
          <li><a class="link_name" routerLink="/afterlogin/products">Fish Growth </a></li>
        </ul>
      </li>

      <li   [ngClass]="{showMenu : showsubarchive}"
            routerLink="/afterlogin/fish_health"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
        
          <a>
            <i class="fas fa-heart-pulse"></i>            
            <span class="link_name">Fish Heath</span>
          </a>
          
        <ul class="sub-menu blank">
          <li><a class="link_name" routerLink="/afterlogin/products">Fish Heath </a></li>
        </ul>
      </li>
      
      <li   [ngClass]="{showMenu : showsubarchive}"
            routerLink="/afterlogin/products"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
        
          <a>
            <i class="fal fa-cart-plus"></i>
            <span class="link_name">Fish Arrival </span>
          </a>
          
        <ul class="sub-menu blank">
          <li><a class="link_name" routerLink="/afterlogin/products">Fish Arrival </a></li>
        </ul>
      </li>
      
      
      <li routerLink="/afterlogin/rendement"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
        <div class="iocn-link">
          <a >
            <i class="fal fa-retweet"></i>
            <span class="link_name">Fish Transfer</span>
          </a>
        </div>
        <ul class="sub-menu blank">
          <li><a class="link_name" routerLink="/afterlogin/rendement">Fish Transfer </a></li>
        </ul>
      </li>

      <li routerLink="/afterlogin/model"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" >
        <a >
          <i class="fal fa-syringe"></i>
          <span class="link_name">Teatment</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" routerLink="/afterlogin/model">Treatment</a></li>
        </ul>

      </li>

      <li routerLink="/afterlogin/maps"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" >
        <a >
          <i class="fal fa-map-marked-alt"></i>
          <span class="link_name">Maps</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" routerLink="/afterlogin/maps">Maps</a></li>
        </ul>
        
      </li>
      
      <li [ngClass]="{showMenu : showsubsettings}" >
        <div class="iocn-link">
          <a >
            <i class="fal fa-cogs"></i>
            <span class="link_name">Settings</span>
          </a>
          <i class='fal fa-chevron-down arrow' (click)="showsettings()" ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" >Settings</a></li>
          <li><a routerLink="/afterlogin/settings"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Supervise Users</a></li>
          <li><a routerLink="/afterlogin/direction"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Managment</a></li>
        </ul>
      </li>
      <li> 
    <div class="profile-details" routerLink="/afterlogin/editprofile">
      <div class="profile-content">
        <img src="../../assets/images/{{img}}" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">{{name}}<span style="margin-left: 15px;">{{grade}}</span></div>
        <div class="job">{{role}}</div>
      </div>
      <i class='fal fa-sign-out' ></i>
    </div>
  </li>
</ul>
</div>
 