
  <div class="sidebar" [ngClass]="{close : !collapsed}">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()"><i class="fa fa-hospital-o"></i></button>
        <span class="logo_name">إدارةالأفراد</span>
      
    </div>
    <ul class="nav-links">
      <li routerLink="/afterloginuser/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
        <a class="link">
          <i class='icon fal fa-home' ></i>
          <span class="link_name">الصفحة الرئيسية</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" routerLink="/afterloginuser/home">الصفحة الرئيسية</a></li>
        </ul>
      </li>
      <li [ngClass]="{showMenu : showsubemployee}" >
        <div class="iocn-link">
          <a >
            <i class='fal fa-users' ></i>
            <span class="link_name">متابعة الأفراد</span>
          </a>
          <i class='fal fa-chevron-down arrow' (click)="showemployee()" ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" >متابعة الأفراد</a></li>
          <li><a routerLink="/afterloginuser/add"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"> إضافة موظف</a></li>
          <li><a routerLink="/afterloginuser/update"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">تحيين بيانات موظف</a></li>
          <li><a routerLink="/afterloginuser/delete"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">نقل موظف للأرشيف</a></li>
        </ul>
      </li>
      <li   routerLink="/afterloginuser/products"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
        <div class="iocn-link">
          <a>
            <i class='fal fa-box-open'></i>
            <span class="link_name">متابعة الأرشيف</span>
          </a>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" routerLink="/afterloginuser/products">متابعة الأرشيف</a></li>
        </ul>
      </li>
      
      
      <li   [ngClass]="{showMenu : showsubusually}">
        <div class="iocn-link">
          <a >
            <i class='fal fa-calendar' ></i>
            <span class="link_name">متابعة الأعمال الدورية</span>
          </a>
          <i class='fal fa-chevron-down arrow' (click)="showusualywork()" ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" routerLink="/afterloginuser/rendement">متابعة الأعمال الدورية</a></li>
          <li><a routerLink="/afterloginuser/rendement"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">متابعة منحة الإنتاج</a></li>
        </ul>
      </li>
      
      
      <li>
    <div class="profile-details" routerLink="/afterloginuser/editprofile">
      <div class="profile-content">
        <img src="../../assets/images/doctor.jpg" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">{{name}}<span style="margin-left: 15px;">ال{{grade}}</span></div>
        <div class="job">{{role}}</div>
      </div>
      <i class='fal fa-sign-out' ></i>
    </div>
  </li>
</ul>
</div>
 