<div class="coupensbody">
    <div class="titlecontainer">
        <h1>متابعة الأعمال الدورية<img src="../../assets/images/calendar-clock-icon.png" style="width: 55px;height:55px;margin-top: -10px;margin-left: 20px;margin-right: -20px;"></h1>
    </div>
    <div class="coupenscontainer">
        <div class="c c1"  >
            <p>
            متابعة منحة الإنتاج
            </p>
        </div>
        <div class="c c2"  >
            <p >
            إعداد و متابعة الأعداد السنوية
            </p>
        </div>
        <div class="c c3"  mat-button (click)="openDialog()">
            <p> 
            إعداد جدول الترقية السنوي
            </p>
        </div>
        <div class="c c4" >
            <p>
            إعداد جدول الوسام العسكري
            </p>
        </div>
    </div>
    <router-outlet name="outlet2"></router-outlet>
</div>