.directionbody{
    background-color: #f4f7fa;
    padding: 3rem;
    min-height: 100vh;
    text-align: right;
}
.titlecontainer{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
h1{
    width: 50%;
    margin: 0 auto;
}
h4{
    margin: 10px;
}
h5{
    margin: 15px;
}
.content{
    display: flex;
    justify-content:space-between;
}
.direction{
    padding: 10px;
    margin:20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
table {
    text-align: right;
    width: 100%;
}
th ,td{
    text-align: right;
}
mat-form-field{
    text-align: right;
}
button{
    margin-right: 25px;
    font-size: 20px;
}

:host ::ng-deep .mat-sort-header-container { 
    display: flex;  
    justify-content:flex-end;
}

.mat-header-cell{
      background-color: #A5C882;
      color: rgb(0, 0, 0);
      text-align: right;
      font-size: 20px;
}
