<div class="productsbody">
    <div class="titlecontainer">
        <h1>متابعة الأرشيف<img src="../../assets/images/archives_icon_129343.png" style="width: 45px;height:45px;margin-top: -15px;margin-left: 20px;"></h1>
    </div>
   <div class="productscontainer">
    <div class="container" >
        <div style="margin-top:10px; ">
        <mat-form-field appearance="standard"  >
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input  >
          </mat-form-field>
          
          <div class="mat-elevation-z8"  >
            <table mat-table [dataSource]="dataSource" matSort   >
                
              
          
             

              <ng-container matColumnDef="iu">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> المعرف الوحيد </th>
                <td mat-cell *matCellDef="let row"> {{row.iu}} </td>
              </ng-container>

              <ng-container matColumnDef="date_entr_hopi">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ الإلتحاق بالمستشفى </th>
                <td mat-cell *matCellDef="let row"> {{row.date_entr_hopi}} </td>
              </ng-container>

              <ng-container matColumnDef="telephone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> الهاتف </th>
                <td mat-cell *matCellDef="let row"> {{row.telephone}} </td>
              </ng-container>

               <!-- ID Column -->
               <ng-container matColumnDef="nom" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> اللقب </th>
                <td mat-cell *matCellDef="let row" > {{row.nom}} </td>
              </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="prenom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > الإسم </th>
                <td mat-cell *matCellDef="let row"> {{row.prenom}} </td>
                </ng-container>

                <!-- Name Column -->
              <ng-container matColumnDef="cin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ر ب ت و </th>
                <td mat-cell *matCellDef="let row"> {{row.cin}} </td>
              </ng-container>

               <!-- Fruit Column -->
               <ng-container matColumnDef="matricule">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> رقم بالتجنيد </th>
                <td mat-cell *matCellDef="let row"> {{row.matricule}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let row"> 
                  <button mat-icon-button color="warn" (click)="onSubmit(row)"><mat-icon>delete_outline</mat-icon></button>
                </td>
              </ng-container>

            
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"    ></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
          
        </div>
        <div  style="position:absolute;margin-left:750px;margin-top: 300px;" >
            <!-- <button type="button" class="btn btn-success" (click)=" onSubmit(row)">استرجاع موظف</button> -->
        </div>
       
    </div>



   </div>
</div>