
.productsbody{
    background-color: #f4f7fa;
    padding: 3rem;
    min-height: 100vh;
}
.titlecontainer{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
h1{
    width: 50%;
    margin: 0 auto;
}
.productscontainer{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 80vh;
    border-radius: 25px;
    box-shadow:0 .25rem .5rem #e6edef;
}

table {
     width: 100%;
    text-align: right;
    
  }
  .mat-row:hover {
    background-color: #b4b4b433;
  }
  .mat-header-cell{
      background-color: #4B515D;
      color: #f4f7fa;
      font-size: 15px;
  }
  :host ::ng-deep .mat-sort-header-container { 
    display: flex;  
    justify-content:flex-end;
}
  .mat-table{
    
    border-radius: 8px;
    overflow:hidden !important;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
    text-align: right;
  }

  .container{
    max-width: 1600px;
    margin : 0 auto;
}
.highlight{
    color: #0c020233;
}

