<div class="long-title">
    <h3>معطيات إجتماعية</h3>
  </div>
  <div id="form-container">
    <dx-form id="id" [(formData)]="employee" id="form" [colCount]="3" [formData]="employee" [rtlEnabled]="true" >
      <dxi-item
      id="7alamadaniya"
        dataField="FirstName"
        [editorOptions]="{ disabled: true}"
        [editorOptions]="{ width: '100%' }"
        [label]="{text: ' الحالة المدنية'}"
      ></dxi-item>
      <dxi-item
        dataField="Position"
        editorType="dxSelectBox"
        [editorOptions]="{ items: positions, searchEnabled: true, value: '' }"
        [label]="{text: 'صنف الدم'}"
      >
        <dxi-validation-rule
          type="required"
          message="Position is required"
        ></dxi-validation-rule>
      </dxi-item>
      <dxi-item
        dataField="Position"
        editorType="dxSelectBox"
        [editorOptions]="{ items: positions, searchEnabled: true, value: '' }"
        [label]="{text: 'الجنس'}"
      ></dxi-item>
      <dxi-item
        dataField=""
        [editorOptions]="{ disabled: true}"
        [editorOptions]="{ width: '100%' }"
        [label]="{text: 'إسم القرين'}"
      ></dxi-item>
      <dxi-item
        dataField=""
        [editorOptions]="{ disabled: true}"
        [editorOptions]="{ width: '100%' }"
        [label]="{text: 'المهنة'}"
      ></dxi-item>
      <dxi-item
        dataField=""
        [editorOptions]="{ disabled: true}"
        [editorOptions]="{ width: '100%' }"
        [label]="{text: 'تاريخ الزواج'}"
      ></dxi-item>
      <dxi-item
        dataField=""
        [editorOptions]="{ disabled: true}"
        [editorOptions]="{ width: '100%' }"
        [label]="{text: 'إسم الأب'}"
      ></dxi-item>
      <dxi-item
        dataField=""
        [editorOptions]="{ disabled: true}"
        [editorOptions]="{ width: '100%' }"
        [label]="{text: 'إسم الجد'}"
      ></dxi-item>
      <dxi-item
        dataField=""
        [editorOptions]="{ disabled: true}"
        [editorOptions]="{ width: '100%' }"
        [label]="{text: 'عدد الأبناء'}"
      ></dxi-item>
      <dxi-item
        dataField=""
        [editorOptions]="{ disabled: true}"
        [editorOptions]="{ width: '100%' }"
        [label]="{text: 'إسم الأم'}"
      ></dxi-item>
      <dxi-item
        dataField=""
        [editorOptions]="{ disabled: true}"
        [editorOptions]="{ width: '100%' }"
        [label]="{text: 'لقبها'}"
      ></dxi-item>
    </dx-form>
    
  </div>
  <!-- <p>الإسم الجديد :</p>
       <p>{{employee.FirstName}}</p>
  
  <button (click)="acceptdata(employee.FirstName)">valider from .ts </button>
  <p>confirmation from .ts</p>
  <p>{{newname}}</p> -->