.component{
    text-align: right;
    display: flex;
    flex-direction:column;
    border-radius:20px;
    background-color: #fff;
    margin: 1.25rem;
    box-shadow:0 .25rem .5rem #e6edef;
    padding: 20px;
}
table {
    width: 100%;
    text-align: right;
  }
.header{
    font-size: larger;
    font-weight: bold;
}
:host ::ng-deep .mat-sort-header-container { 
    display: flex;  
    justify-content:flex-end;
}

.sevice {
    font-family: arial, sans-serif;
    width: 100%;
  }
  
td, th {
    text-align: right;
  }

.delete{
  margin-right: 20px;
}
.field{
  width:20px;
  height: 100px;
  text-align: right;
}
input{
  text-align: right;
}
.example-stepper {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.active{
  color: rgb(23, 253, 7);
}
.inactive{
  color: rgb(217, 72, 72);
}