<div class=" d-flex justify-content-between">
    <div class="col-sm-8 component">
        <h4>قائمة المستعملين</h4>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
              
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="header" mat-sort-header sortActionDescription="Sort by symbol"> الإسم </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class="header" mat-sort-header sortActionDescription="Sort by weight"> البريد الإلكتروني </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
          
              <ng-container matColumnDef="service">
                <th mat-header-cell *matHeaderCellDef class="header" mat-sort-header sortActionDescription="Sort by name"> المصلحة </th>
                <td mat-cell *matCellDef="let element"> {{element.service}} </td>
              </ng-container>
              
              <ng-container matColumnDef="date_joined">
                <th mat-header-cell *matHeaderCellDef class="header" mat-sort-header >تاريخ التسجيل</th>
                <td mat-cell *matCellDef="let element"> {{element.date_joined}} </td>
              </ng-container>

              <ng-container matColumnDef="last_login">
                <th mat-header-cell *matHeaderCellDef class="header" mat-sort-header > آخر تسجيل دخول </th>
                <td mat-cell *matCellDef="let element"> {{element.last_login}} </td>
              </ng-container>

              <ng-container matColumnDef="logged">
                <th mat-header-cell *matHeaderCellDef class="header" mat-sort-header ></th>
                <td mat-cell *matCellDef="let element"><i class="fa fa-circle inactive" [ngClass]="{'active': element.logged === 'true', 'inactive' : element.logged === 'false' }"></i></td>
              </ng-container>

              <ng-container matColumnDef="action" >
                <th mat-header-cell *matHeaderCellDef class="header" mat-sort-header sortActionDescription="Sort by action"> اجراءات </th>
                <td  mat-cell *matCellDef="let element"> 
                  <button 
                    class="delete"
                    mat-mini-fab 
                    color="warn" 
                    (click)="deleteUser(element.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button (click)="opendialog(element.id)"
                    mat-mini-fab 
                    color="primary" >
                    <mat-icon>edit</mat-icon>                  
                  </button> 
                </td>
              </ng-container>
       
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
          
    </div>

    <div class="col component">
      <h4>إضافة مستعمل جديد</h4>
      <form [formGroup]="form" (submit)="submit()">
        

        <div class="row">
          <mat-form-field class="col field"  appearance="outline">
            <mat-label>اللقب</mat-label>
            <input  formControlName="last_name" matInput #input maxlength="10" placeholder="اللقب">
          </mat-form-field>

          <mat-form-field class="col field"  appearance="outline">
            <mat-label>الإسم</mat-label>
            <input  formControlName="name" matInput #input maxlength="10" placeholder="الإسم">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col field"  appearance="outline">
            <mat-label>تاريخ الميلاد</mat-label>
            <input  formControlName="date_de_naissance" matInput #input maxlength="10" placeholder="12/12/1999">
          </mat-form-field>
          
          <mat-form-field class="col field"  appearance="outline">
            <mat-label>الهاتف</mat-label>
            <input  formControlName="phone" matInput #input maxlength="10" placeholder="22000000">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col field" appearance="outline">
            <mat-label>الخطة</mat-label>
            <mat-select formControlName="role">
              <mat-option value="user">user</mat-option>
              <mat-option value="teminal">terminal</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field class="col field" appearance="outline">
            <mat-label>المصلحة</mat-label>
            <mat-select formControlName="service">
              <mat-option value="pediatre">pediatre</mat-option>
              <mat-option value="neuro">neuro</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col field" appearance="outline">
            <mat-label>الجنس</mat-label>
            <mat-select formControlName="sexe">
              <mat-option value="ذكر">ذكر</mat-option>
              <mat-option value="ٱنثى">ٱنثى</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col field" appearance="outline">
            <mat-label>الولاية</mat-label>
            <mat-select formControlName="state">
              <mat-option value="بنزرت">بنزرت</mat-option>
              <mat-option value="تونس">تونس</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col field"  appearance="outline">
            <mat-label>مكان السكن</mat-label>
            <input  formControlName="adresse" matInput #input maxlength="10" placeholder="مكان السكن">
          </mat-form-field>
  
          <mat-form-field class="col field"  appearance="outline">
            <mat-label>المدينة</mat-label>
            <input  formControlName="city" matInput #input maxlength="10" placeholder="المدينة">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col field" appearance="outline">
            <mat-label>البريد الإلكتروني</mat-label>
            <input formControlName="email" type="email" matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
  
          <mat-form-field class="col field" appearance="outline">
            <mat-label>كلمة السر</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">تسجيل</button>
      </form>
    </div> 
</div>
